.user-input {
    margin-top: 25px;
    border-style: solid;
    border-color: black;
    width: 250px;
    padding: 35px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    font-size: 24px;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
}

form {
    position: relative;
    /*border: 2px solid;*/
    top: 1px;
}

.background-image {
    background-image: url(http://www.chasetower.com/images/animation2/13.jpg);
    background-repeat: no-repeat;
    background-size: 1355px 700px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #003c69;
  border: none;
  color: white;
  padding: 10px 100px;
  text-decoration: none;
  margin: 35px 4px;
  margin-bottom: 4px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 8px;
}


body { 
  background: 'static/images/blue.jpg' no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
