<!DOCTYPE html>
<html lang="en">

<head>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/ok.css">

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <html>

    <body>

        <body background="/static/images/ok.jpg">

            <h1>
                <font color="white" size="15"> This is an OK Password </h1>
            {% for rec in recommendations %}
            <li> {{rec}}</li>
            {% endfor %}
            </font>

        </body>



    </html>
